{% extends 'base.html.twig' %}
{% block title %}Home | {% endblock %}

{% block body %}
<div class="container">

	<h1>Rock Paper Scissors Spock Lizard! Code Challenge<br /><small>From Mike Napier and Ryan Fickel @ Advisors Excel</small></h1>

	<blockquote>
		<p>We would like you to take this code challenge to see how you utilize Symfony, problem solve and look at your code style.</p>
		<p>Build a player versus computer web application version of "Rock Paper Scissors Spock Lizard".</p>
		<p>Here's an explanation of how the game works. http://www.samkass.com/theories/RPSSL.html</p>
	</blockquote>

	<p class="lead">The general idea of the application is as follows.</p>
	<p>A user visits the application and is able to choose between rock, paper, scissors, spock or lizard. The application randomly chooses the computers choice and the user is presented with the computers choice along with who won the battle.</p>
	<p>The user should be able to view statistics on how many times the player has won, how many times the computer has won and how many times each has chosen which option (rock, paper, etc...).</p>

	<ul>Requirements
		<li>Create the application using Symfony version 2.6 or above.</li>
		<li>Store statistics in an sql database (MySQL or PostgreSQL preferred) using Doctrine.</li>
		<li>Utilize GIT for source control and host your repository somewhere where we can access it when you are done. Please commit your code as you develop.</li>
		<li>If you have somewhere to deploy the finished application to please do so.</li>
		<li>Feel free to go as simple as you want with the front end design, we are more interested in the backend and wont judge you based on how it looks.</li>
		<li>Authentication is <strong>not</strong> a requirement.</li>
	</ul>

</div>
{% endblock %}

{% block stylesheets %}{% endblock %}
{% block javascripts %}{% endblock %}
